<body>
  <div class="container espacio">
    <h1>Universidad Tecnológica de San Juan Del Río</h1>
    <h2>Grupo: DS02SV-23</h2>
  </div>
  <div class="menu">
    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <a href="/tareas" class="button_slide slide_diagonal">Tareas</a>
        </div>
        <div class="col">
          <a href="/proyectos" class="button_slide slide_diagonal">Proyectos</a>
        </div>
        <div class="col">
          <a (click)="logOut()" class="button_slide slide_diagonal">Cerrar Sesión</a>
        </div>
      </div>
    </div>
    
    
    
  </div>
    <div class="container text-center espacio">
        <div class="row align-items-center">
          <div class="col">
            <div class="container espacio">
              <img src="https://scontent.fmex36-1.fna.fbcdn.net/v/t39.30808-1/297872605_567756671750907_6906565649698162594_n.jpg?stp=dst-jpg_p320x320&_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFXEF4Pa1C6KJSY_CbNz3wtloVIiWjiDpeWhUiJaOIOl4IdSDRiJBSoRjGyJlDBDVJwU6OaJ081slV7WsxWK4jk&_nc_ohc=MRUpRj9Zhp8Ab6dXE7c&_nc_ht=scontent.fmex36-1.fna&oh=00_AfBAyZn9AR7nWnEtNBjjsbhuEX-eE4LQHHSsM0IEqHbFLQ&oe=6618E930" 
              height="220px" width="220px">
              <p>Orlando Narciso Flores</p>
              <a href="https://w.app/eQWDCa"><img src="https://img.freepik.com/vector-premium/diseno-icono-whatsapp_23-2147918673.jpg" height="50px" width="50px"></a>
              <a href="mailto:orlandonf88@gmail.com"><img src="https://cdn.icon-icons.com/icons2/1011/PNG/512/Gmail_icon-icons.com_75706.png" height="50px" width="50px"></a>
            </div>
          </div>
          <div class="col">
            <div class="container espacio">
              <img src="https://scontent.fmex26-1.fna.fbcdn.net/v/t1.6435-9/198564458_1814479115387900_8343644890538997586_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHdYCd9mHPXwKRNFik5aONJuW7gU0lEFPK5buBTSUQU8uA5m35Hd-XqI2hEnhf6u8qnpMClR-HYf4I9lHFEblG7&_nc_ohc=793r--L0mRsAb6uVjKk&_nc_ht=scontent.fmex26-1.fna&oh=00_AfC_-jUiLedyd6LFtoBbOw7ddKhg2-88iL0TC-_41VRfLg&oe=663A7655" 
              height="220px" width="220px">
              <p>Alejandro Giovanni Salinaz Sanchez</p>
              <a href="https://w.app/Cvuyig"><img src="https://img.freepik.com/vector-premium/diseno-icono-whatsapp_23-2147918673.jpg" height="50px" width="50px"></a>
              <a href="mailto:giovanniss.ti20@utsjr.edu.mx"><img src="https://cdn.icon-icons.com/icons2/1011/PNG/512/Gmail_icon-icons.com_75706.png" height="50px" width="50px"></a>
            </div>
          </div>
          <div class="col">
            <div class="container espacio">
              <img src="https://lh3.googleusercontent.com/a-/ALV-UjWqRDzfbjKq22HyPh7LZVFDUt1HdckO73mb7eqJIMgKuQwv4ZY=s80-p-k-rw-no" 
              height="220px" width="220px">
              <p>nombre</p>
              <a href="https://w.app/H0GD1w"><img src="https://img.freepik.com/vector-premium/diseno-icono-whatsapp_23-2147918673.jpg" height="50px" width="50px"></a>
              <a href="mailto:noeca.ti23@utsjr.edu.mx"><img src="https://cdn.icon-icons.com/icons2/1011/PNG/512/Gmail_icon-icons.com_75706.png" height="50px" width="50px"></a>
            </div>
          </div>
        </div>
      </div>
</body>